<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.mantunes.sped">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sped"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="br.com.mantunes.sped.AppApplication">

        <activity
            android:name="br.com.mantunes.sped.MainActivity"
            android:exported="true" />
        <activity android:name="br.com.mantunes.sped.ui.activity.LoginActivity"/>
        <activity android:name="br.com.mantunes.sped.ui.activity.MainFinalizaPedidoActivity"/>
        <activity android:name="br.com.mantunes.sped.ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>